* {
	margin: 0;
	padding: 0;
}
:root {
	--bright-background: #faded0;
	--bg-image: linear-gradient(
		45deg,
		#0fdfef 0%,
		#bc70a4 50%,
		#dafedb 75%,
		#bfd641 100%
	);
	--background: var(--bright-background);
	--font-color: rgba(10 10 150 /1);
	--outline-color: #a50afa;
	--shadow: #012345;
}
body,
html {
	height: 100vh;
	width: 100vw;
	color: var(--font-color);
	background-color: var(--background);
	background-image: var(--bg-image);
	background-attachment: fixed;
}
.img-box {
	height: 200px;
	visibility: hidden;
	width: 100%;
	position: relative;
}
#img {
	width: 150px;
	position: absolute;
	left: 50%;
	transform: translateX(-75px);
}
.img-border {
	outline-offset: 0.5ch;
	outline: 2px solid #777777;
}
form {
	max-width: 80%;
	outline: 3px solid var(--outline-color);
}
form:hover {
	box-shadow: 0 0 7px var(--shadow);
}
textarea {
	background-color: transparent;
	outline: 2px solid var(--outline-color);
}
.btn {
	margin-top: 1rem;
	width: fit-content;
	padding-inline: 1ch;
}
 #btn2 {
	visibility: hidden;
} 
footer > div {
	position: sticky;
	bottom: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-image: linear-gradient(
			45deg,
			rgba(39, 1, 113, 1) 0%,
			rgba(22, 65, 97, 1) 41%,
			rgba(17, 87, 92, 1) 63%,
			rgba(85, 60, 15, 0.9895308465182948) 100%
		);
		--dark-background: #123456;
		--font-color: #efefdd;
		--background: var(--dark-background);
		--shadow: #faded0;
		--outline-color: #f59a7a;
	}
}
@media screen and (min-width: 750px) {
	form {
		max-width: 60%;
	}
}

.material-symbols-outlined {
	width: 40px;
	aspect-ratio: 1/1;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(40px);
}
nav {
	border-bottom: 2px solid var(--shadow);
}
nav ul {
	list-style: none;
}
#generator {
}
#reader {
	display: none;
}
