* {
	margin: 0;
	padding: 0;
}
:root {
	--bright-background: #efefef;
	--background: var(--bright-background);
	--shadow: var(--bright-shadow);
	--font-color: rgba(10 10 150 /1);
	--outline-color: #a50afa;
}
body,
html {
	height: 100vh;
	width: 100vw;
	color: var(--font-color);
	background-color: var(--background);
}
.img-box {
	height: 200px;
	width: 100%;
	/* padding-inline: cal(100%-75px); */
	position: relative;
}
#img {
	width: 150px;
	position: absolute;
	left: 50%;
	transform: translateX(-75px);
}
.img-border {
	outline-offset: 0.5ch;
	outline: 2px solid #777777;
}
form {
	max-width: 80%;
	outline: 2px solid var(--outline-color);
}
.btn {
	margin-top: 1rem;
	width: fit-content;
	padding-inline: 1ch;
}
#btn2 {
	visibility: hidden;
}
footer > div {
	position: sticky;
	bottom: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
@media (prefers-color-scheme: dark) {
	:root {
		--dark-background: #012345;
		--font-color: #efefdd;
		--background: var(--dark-background);
		--shadow: var(--dark-shadow);
		--outline-color: #f59a5a;
	}
}
@media screen and (min-width: 750px) {
	form {
		max-width: 60%;
	}
}
 >